<ion-view title="{{node.title}}">
    <!-- nav bar override -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>        
    </ion-nav-buttons>

    <ion-nav-back-button></ion-nav-back-button>

    <!-- list content -->
    <ion-content ng-class="stylemodeClass" class="scroll-content has-header" has-header="false" has-subheader="false" padding="true">
        <label class="item item-input">
            <span class="input-label">Titre</span>
            <input type="text" ng-model="title">
        </label>
        <ion-nav-view name="additionalProperties"></ion-nav-view>
        <label class="item item-input">
            <textarea msd-elastic placeholder="markdown content" ng-model="content"></textarea>
        </label>
    </ion-content>
    
</ion-view>