<ion-view has-header="false" has-subheader="false" title="{{node.title}}">
    <ion-content ng-class="stylemodeClass" class="scroll-content has-header" has-header="false" has-subheader="false" padding="true">
        <div class="book-text" contenteditable="true" ng-class="[textsizeClass]">
        {{node.content}}
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <button ng-click="zoomInText()" class="button icon ion-minus"></button>
            <button ng-click="zoomOutText()" class="button icon ion-plus"></button>
            <button ng-click="changeStyle()" class="button icon ion-contrast"></button>
            <button ng-click="fullscreen()" class="button icon ion-arrow-expand"></button>
            <button ng-click="chapters()" class="button icon ion-bookmark"></button>
        </div>
    </div>
    
</ion-view>