.nodeLayoutHeader button.dark {
	color: #000;
}	
.nodeLayoutHeader button.dark:hover {
	color: #000;
}	

#navBar .navBarContent  {
	z-index: 11 !important;
	width: 100%;
	display: flex;
}

.bar .buttons-left span.syncStatus {
	display: flex;
	width:100px;
	line-height: 15px;
}