.nodeLayoutHeader button.dark {
	color: #000;
}	
.nodeLayoutHeader button.dark:hover {
	color: #000;
}	

#navBar .navBarContent  {
	z-index: 11 !important;
	width: 100%;
	display: flex;
}

.bar .buttons-left span.syncStatus {
	height: 33px;
	width:150px;
	line-height: 33px;
}

@media screen and (max-width: 700px) {
	.bar .buttons-left span.syncStatus {
		display: none;
	}
}
